<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nathan Macaso Web Developer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-mfizz/font-mfizz.css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.css" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/00b8692517.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="/"><%= image_tag "logo.jpg", class: "img-logo" %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#about">ABOUT</a>
          </li>
          <li>
            <a class="page-scroll" href="#skills">SKILLS</a>
          </li>
          <li>
            <a class="page-scroll" href="#projects">PROJECTS</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <header>
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading">Nathan Macaso</h1>
        <hr>
        <p>Medical microbiologist turned web developer based in Chicago, IL. Specializing in web design and front end web development.</p>
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
      </div>
    </div>
  </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">ABOUT ME</h2>
            <hr class="light">
            <p class="text-faded">
              After nine years as a medical microbiologist, I've discovered my passion for web development.  I am a gradute of Actualize's immersive Web Development Program. 
              The past couple of years, I've been a part of some really great teams at Bank of America and Earlybird Software building out innovative projects.  Although I 
              started my journey as a Full Stack Developer, I think I've really found my niche on the front end.  I take real pride in my work with a heavy focus on clean 
              design aesthetic, great user experience, and seamless functionality.  Contact me if you’d like to work together on your next project.</p>
            <a href="#contact" class="page-scroll btn btn-default btn-xl sr-button">Contact me!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="skills">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">SKILLS</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" style="padding-bottom: 50px; padding-top: 50px;">
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fab fa-5x fa-js-square text-primary sr-icons"></i>
            <p class="sr-icons">Javascript (ES6)</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fab fa-5x fa-html5 text-primary sr-icons"></i>
            <p class="sr-icons">HTML5</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fab fa-5x fa-css3-alt text-primary sr-icons"></i>
            <p class="sr-icons">CSS3</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fab fa-5x fa-wordpress text-primary sr-icons"></i>
            <p class="sr-icons">Wordpress</p>
          </div>
        </div>

        <div class="row" style="padding-bottom: 50px">
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fab fa-5x fa-react text-primary sr-icons"></i>
            <p class="sr-icons">React</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fab fa-5x fa-angular text-primary sr-icons"></i>
            <p class="sr-icons">AngularJS</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fab fa-5x fa-bootstrap text-primary sr-icons"></i>
            <p class="sr-icons">Bootstrap</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fab fa-5x fa-sass text-primary sr-icons"></i>
            <p class="sr-icons">Sass</p>
          </div>
        </div>

        <div class="row" style="padding-bottom: 50px">
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fa fa-5x icon-ruby-on-rails-alt text-primary sr-icons"></i>
            <p class="sr-icons">Ruby on Rails</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fab fa-5x fa-python text-primary sr-icons"></i>
            <p class="sr-icons">Python</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fab fa-5x fa-git-alt text-primary sr-icons"></i>
            <p class="sr-icons">Git</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fab fa-5x fa-npm text-primary sr-icons"></i>
            <p class="sr-icons">NPM</p>
          </div>
        </div>
        
      </div>
    </section>

    <section class="bg-primary" id="projects">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">PROJECTS</h2>
            <hr class="light">
            <div class="row" style="padding-bottom: 30px">
              <div class="col-md-12 text-center">
                <a href="http://datscrumptious.com">
                  <%= image_tag("sous-chef.png", class: "img-responsive", alt: "Sous-Chef") %>
                  <p style="color: white; padding-top: 10px">Sous Chef</p>
                </a>
              </div>
            </div>
            <div class="row" style="padding-bottom: 30px">
              <div class="col-md-12 text-center">
                <a href="https://givenly.com">
                  <%= image_tag("givenly.png", class: "img-responsive", alt: "Givenly") %>
                  <p style="color: white; padding-top: 10px">Givenly</p>
                </a>
              </div>
            </div>
            <div class="row" style="padding-bottom: 30px">
              <div class="col-md-12 text-center">
                <a href="https://tracegenomics.com">
                  <%= image_tag("trace.png", class: "img-responsive", alt: "Trace Genomics") %>
                  <p style="color: white; padding-top: 10px">Trace Genomics</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center" style="padding-bottom: 20px">
            <h2 class="section-heading">CONTACT INFO</h2>
            <hr class="primary">
            <p>Ready to start your next project? Awesome!! Give me a call or shoot me an email and I will get back to you as soon as possible.</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fas fa-phone fa-3x sr-contact"></i>
            <p style="padding-top: 20px" class="sr-contact">312-852-4472</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <i class="far fa-envelope fa-3x sr-contact"></i>
            <p style="padding-top: 20px" class="sr-contact"><a href="mailto:nathanmacaso@gmail.com">nathanmacaso@gmail.com</a></p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fab fa-linkedin fa-3x sr-contact"></i>
            <p style="padding-top: 20px" class="sr-contact"><a href="https://www.linkedin.com/in/nathan-macaso">LinkedIn</a></p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <i class="fab fa-github fa-3x sr-contact"></i>
            <p style="padding-top: 20px" class="sr-contact"><a href="https://github.com/nachomacaso">GitHub</a></p>
          </div>
        </div>
      </div>
    </section>

    <%= yield %>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>

</body>

</html>